@model ASM.Models.Donhang

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Donhang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DonhangID" />
            <div class="form-group">
                <label asp-for="KhachhangID" class="control-label"></label>
                <select asp-for="KhachhangID" class="form-control" asp-items="ViewBag.KhachhangID"></select>
                <span asp-validation-for="KhachhangID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaydat" class="control-label"></label>
                <input asp-for="Ngaydat" class="form-control" />
                <span asp-validation-for="Ngaydat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tongtien" class="control-label"></label>
                <input asp-for="Tongtien" class="form-control" />
                <span asp-validation-for="Tongtien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trangThaiDonHang" class="control-label"></label>
                <select asp-for="trangThaiDonHang" class="form-control"></select>
                <span asp-validation-for="trangThaiDonHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ghichu" class="control-label"></label>
                <input asp-for="Ghichu" class="form-control" />
                <span asp-validation-for="Ghichu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
